
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: #e5c8a8;
    margin: 0;/*ระยะขอบ*/
    padding: 0; /*ขยายขอบ*/
}

nav{
    display: flex;
    flex-direction: column;
    height: auto ;
    background: #fff;
    justify-content: center;
    align-items: center; /*จัดกึ่งกลางแนวตั้งแนวนอน */
    position: relative; 
    
}
.nav-toggle{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    display: inline-block; /*เรียงกันแนวนอนและมีพื้นที่ด้านใน ตามที่เรากำหนด */
}



ul {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
    width: 100%;
}
ul li{
    list-style-type: none;
    font-size: 15 px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: groove;
    border-bottom-color: #f0f;
    border-bottom-width: 1px;
    
}

ul li a {
    text-decoration: none;
    color:#333;
}

ul li:first-child{
    margin-top: 0;
}
ul li:hover{
    opacity:0.5 ;
}
.active{
    display: flex;
}

@media screen and (min-width: 800px) {
    nav{
        height: 70px;
        flex-direction: row;
    }
    .logo{
        padding-left: 50px ;
        margin: 0;
        width: 20%;
    }
    ul{
        display: flex;
        justify-content:  flex-end;
        width:  80%;
        flex-direction: row;
    }
    ul li{
        display: inline-block;
        margin: 0 70px 0 0 ;
        text-align:  left;
        border-bottom-style:none ;
        padding: 0;

    }
    .nav-toggle{
        display: none;
    }
    
}

