@import url('https://fonts.googleapis.com/css2?family=Sree+Krushnadevaraya&display=swap');
body {
    font-family:  'Sree Krushnadevaraya';
    font-style: normal;
    height: 100vh;
    background: #F8F4EE;
    margin: 0;
    /*ระยะขอบ*/
    padding: 0;
    /*ขยายขอบ*/
}


nav {
    display: flex;
    flex-direction: column;
    height: auto;
    background: #332528;
    justify-content: center;
    align-items: center;
    /*จัดกึ่งกลางแนวตั้งแนวนอน */
    position: relative;
    font-family: 'Sree Krushnadevaraya';
    font-style: normal;
    font-size: 15px;


}

.nav-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    display: inline-block;
    /*เรียงกันแนวนอนและมีพื้นที่ด้านใน ตามที่เรากำหนด */
    color: #fff;
    
}


ul {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
    width: 100%;
}

ul li {
    list-style-type: none;
    font-size: 15 px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: groove;
    border-bottom-color: #f0f;
    border-bottom-width: 1px;

}

ul li a {
    text-decoration: none;
    color: #fffdfd;
}

ul li:first-child {
    margin-top: 0;
}

ul li:hover {
    opacity: 0.5;
}

.active {
    display: flex;
}

.hero-image {
    background-image: url("./img/image6.jpg");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 80%;
    max-width: 100%;
    width: 800;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.hero-text {
    background: rgba(0, 0, 0, 0.58);
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-decoration-color: #0a0708;

}



.hero-text p {
    font-size: 12px;
}

.hero-text button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
}


.hero-text button:hover {
    background-color: #131313;
    color: white;

}

.footer {
    font-size: 10px;
    height: 20%;
    padding: 60px 15%;
    background-color: #332528;
    color: #ffffff;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;

}

form input {
    height: 30px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #fafafa;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 10px;
    cursor: pointer;
}

.social-ions {
    margin-top: 30px;
}

.social-ions i {
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    nav {
        height: 100px;
        flex-direction: row;
        width: 100%;
        font-size: 25px;

    }

    .log img {
        width: 70%;
        height: 70%;
    }

    .logo {
        padding-left: 30px;
        padding-right: 20px;
        margin: 0;


    }


    ul {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-direction: row;
    }

    ul li {
        display: inline-block;
        margin: 0 70px 0 0;
        text-align: left;
        border-bottom-style: none;
        padding: 0;

    }

    .nav-toggle {
        display: none;
    }

    .footer {
        font-size: 15px;
    }

    .hero-text button {
        font-size: 25px;

    }

    .hero-text p {
        font-size: 24px;
    }

    .footer {
        justify-content: center;
    }

}


.flawer {
    margin-top: 40px;
    text-align: center;
}

.flawer-box {
    margin-top: 60px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.flawer-box img {
    max-width: 100%;
    width: 800px;
}

.flawer-box h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);

}